@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn{
  @apply py-4 px-8 font-bold shadow-xl border;
}
.btn-dark{
  @apply bg-black text-dark-6 hover:border-dark-3;
  /*border-dark-2 --> border-<color> with <color> = bg-color*/
}

/* Para los items que se muestran al scrollear: */
.cta {
    z-index: 1;
    transition: all 1s;
    @apply bg-dark-6 text-slate-800 w-6 h-9 text-3xl rounded-full fixed bottom-0 right-0 mb-5 mr-5 shadow-lg;
}
.hide {
    opacity:0;
    right:-100%;
}
.show {
    opacity:1;
    right:0;
}
